* {
  box-sizing: border-box;
}

body {
    background: #FBB24B;
    color: black;
    line-height: 1.6;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
}

.nav-bar{
    background: black;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

img {
    width: 100%;
}